<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.budgetvm.mobileapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_ticket"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo_ticket"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mobileapp.Activities.EditAuth"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.mobileapp.Activities.PdfReaderActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.mobileapp.Activities.Authorized_User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Adapters.Authorized_Adapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.mobileapp.Activities.Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Adapters.BillingAdapter"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.mobileapp.Activities.Billing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.ManageService"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.View_Ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.ApiManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.DNS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.Services"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.MainHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.CreateTicket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobileapp.Activities.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.mobileapp.Activities.Login" />
        <activity
            android:name="com.mobileapp.Activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>